.App {
  text-align: center;
}

.inputdiv {
  padding: 10px;
  margin-top: -100px;
  /* margin-right: 35%; */
  margin-left: 25%;
  width: 50%;
  flex-direction: row;
  flex: 1;
}
.input{
  padding :10px ;
  width: 80%;
  box-shadow: #282c34;
  border-color:#7d7af6 ;
  border-width: 2 ;
}
.button {
  margin: 10px;
}
.gradient-bg{
  background: 'linear-gradient(to right,#7d7af6, #8863fa,#719ff0,#60d1e8)'
}
.todo-list { 
    border-width:5;
    border-color : 'purple';
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius:25;
    height: '500px';
    min-height: 300px;
    width: 50%;
    margin-right: 25%;margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .radio > label {
    padding: 5 ;

  }




  


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
